USE [master]
GO
/****** Objeto:  Database [Ordemdeservicos]    Data do Script: 02/08/2026 18:32:45 ******/
CREATE DATABASE [Ordemdeservicos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ordemdeservicos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Ordemdeservicos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ordemdeservicos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Ordemdeservicos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ordemdeservicos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ordemdeservicos]
GO
/****** Objeto:  Table [dbo].[Chamados]    Data do Script: 02/08/2026 18:32:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chamados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[PrestadorId] [int] NULL,
	[Descricao] [varchar](max) NOT NULL,
	[DataAbertura] [datetime] NOT NULL,
	[Endereco] [varchar](100) NOT NULL,
	[Prioridade] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[HistoricoChamados]    Data do Script: 02/08/2026 18:32:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoChamados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChamadosId] [int] NOT NULL,
	[UsuariosId] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[DataHora] [datetime] NOT NULL,
	[Observacao] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Imagens]    Data do Script: 02/08/2026 18:32:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChamadosID] [int] NOT NULL,
	[UrlImagem] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Usuarios]    Data do Script: 02/08/2026 18:32:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Senha] [varchar](255) NOT NULL,
	[Telefone] [varchar](20) NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nome], [Email], [Senha], [Telefone], [Tipo]) VALUES (1, N'João', N'joao@gmail.com', N'1234', N'44999999999', N'Cliente')
INSERT [dbo].[Usuarios] ([Id], [Nome], [Email], [Senha], [Telefone], [Tipo]) VALUES (2, N'Carlos', N'Carlos@gmail.com', N'4321', N'44888888888', N'Prestador')
INSERT [dbo].[Usuarios] ([Id], [Nome], [Email], [Senha], [Telefone], [Tipo]) VALUES (3, N'Imobiliaria Mirval', N'ImbMirval@gmail.com', N'1010', N'44777777777', N'Imobiliaria')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Chamados]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Chamados]  WITH CHECK ADD FOREIGN KEY([PrestadorId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[HistoricoChamados]  WITH CHECK ADD FOREIGN KEY([ChamadosId])
REFERENCES [dbo].[Chamados] ([Id])
GO
ALTER TABLE [dbo].[HistoricoChamados]  WITH CHECK ADD FOREIGN KEY([UsuariosId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Imagens]  WITH CHECK ADD FOREIGN KEY([ChamadosID])
REFERENCES [dbo].[Chamados] ([Id])
GO
USE [master]
GO
